<div class="container">
    <h1>Edit <%= itemName %>
    </h1>

    <%- messages() %>

        <form action="/inventory/edit-item" method="POST">
            <label for="make">Make:</label>
            <input type="text" id="make" name="make" value="<%= locals.make %>">

            <label for="model">Model:</label>
            <input type="text" id="model" name="model" value="<%= locals.model %>">

            <label for="year">Year:</label>
            <input type="text" id="year" name="year" value="<%= locals.year %>">

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" value="<%= locals.description %>">

            <label for="price">Price:</label>
            <input type="text" id="price" name="price" value="<%= locals.price %>">

            <label for="miles">Miles:</label>
            <input type="text" id="miles" name="miles" value="<%= locals.miles %>">

            <label for="color">Color:</label>
            <input type="text" id="color" name="color" value="<%= locals.color %>">

            <label for="classificationList">Classification:</label>
            <%- classificationSelect %>

                <button type="submit">Update Vehicle</button>
                <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                    <% } %>>
        </form>

        <br>
        <a href="/inventory">Back to Management</a>
</div>